@import '../../../styles/variables';

.boxWrapper {
    width: 154px;
    height: 154px;

    position: relative;

    .mainBox {        
        background: #FAF2EC;
        box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.12);
        border-radius: 4px;

        height: 100%;

        padding: 12px 11px 12px 10px;

        p {
            margin: 0;
            font-size: 20px;
            color: rgba(51, 52, 56, 1);
        }
    }

    .backgroundBox {
        position: relative;
        top: -175px;
        left: -3px;

        width: 154px;
        height: 178px;

        border-radius: 4px;

        background-color: #FAF2EC;
        z-index: -1;

        box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.12);
    }

}