@import '../../styles/variables';

.createAJournal {
    position: absolute;
    top: 646px;
    width: 320px;
    text-align: center;

    font-size: 14px;
    font-weight: 600;
    color: $brown;
}


