@import '../../styles/variables';

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

.signInForm {
    margin: 345px 0 0;

    .signUp {
        font-weight: 600;
        font-size: 12px;
        margin-bottom: 5px;
        color: $brown;
    }


    .forgotPasswordWrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 12px;

        .forgotPassword {
            color: $brown;
            font-size: 12px;

        }
    }

    .submitButtonWrapper {
        display: flex;
        justify-content: center;
        margin-top: 65px;
    }
}